<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../static/styles/global.css">
    <link rel="stylesheet" href="../static/styles/register.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <title>Atualizar - Médico</title>
</head>

<body>

    <main class="container">

        <a href="/"><img class="left--one img" src="../static/images/onlinedoctor.svg" alt=""></a>
        <img class="right img" src="../static/images/register.svg" alt="">

        <div class="container--forms">

            <h1>
               Update your registration
            </h1>

            <div class="form">

                <legend>Professional data</legend>
                {% for _ in data %}
                <label for="username">Insert your name *</label>
                <input class="input" type="text" name="username" id="username" value="{{_.username}}" required>

                <label for="job">Job *</label>
                <input class="input" type="text" name="job" id="job" value="{{_.job}}" required>

                <label for="especialty">Your especiality : {{_.especialty}} *</label>
                <select name="especialty" class="especiality" id="especiality">
                    <option value=""></option>
                </select>

                <label for="cr">Register number</label>
                <input class="input" type="number" name="cr" id="cr" value="{{_.cr}}">

                <button type="button" onclick="sendUpdate(getDataUser(),{{_.id}})" class="btn-submit">Atualizar</span>
                {% endfor %}
            </div>
        </div>
    </main>

    <script src="../static/scripts/global.js"></script>
    <script src="../static/scripts/methods.js"></script>
</body>

</html>